version: 2.1

orbs:
  slack: circleci/slack@4.4.2

executors:
  default:
    working_directory: ~/timetree-sdk-js/web-api
    docker:
      - image: cimg/node:14.17.1

commands:
  build_npm:
    steps:
      - restore_cache:
          keys:
            - v1-dependencies-{{ arch }}-{{ checksum "../.node-version" }}-{{ checksum "yarn.lock" }}
            - v1-dependencies-{{ arch }}-{{ checksum "../.node-version" }}-
      - run:
          name: Yarn
          command: yarn --frozen-lockfile --cache-folder ~/.cache/yarn
      - save_cache:
          paths:
            - ~/.cache/yarn
          key: v1-dependencies-{{ arch }}-{{ checksum "../.node-version" }}-{{ checksum "yarn.lock" }}

jobs:
  test:
    executor:
      name: default
    steps:
      - checkout:
          path: ~/timetree-sdk-js
      - build_npm
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Test
          command: yarn test
  release:
    executor:
      name: default
    steps:
      - checkout:
          path: ~/timetree-sdk-js
      - build_npm
      - run:
          name: yarn release
          command: yarn release

workflows:
  version: 2
  test_pull_request:
    jobs:
      - test:
          filters:
            branches:
              ignore: master
  test_and_release:
    jobs:
      - test:
          filters:
            branches:
              only:
                - master
                - alpha
                - beta
      - slack/on-hold:
          channel: "#timetree-sdk-js"
          context: slack-orb
          requires:
            - test
      - release-approval:
          type: approval
          requires:
            - slack/on-hold
      - release:
          context: release-timetree-sdk
          requires:
            - release-approval
          filters:
            branches:
              only:
                - master
                - alpha
                - beta
